Django==4.0.4
django-allauth==0.51.0
django-cors-headers==3.12.0
djangorestframework==3.13.1
gunicorn==20.1.0
json5==0.9.5
jsonschema==3.2.0
python-dateutil==2.8.1
python-slugify==5.0.2
python-utils==2.6.3
python3-openid==3.2.0
python3-utils==0.4.0
PyYAML==5.4.1
pyzmq==22.0.3
regex==2021.9.30
whitenoise==6.2.0
